<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Cadastro de Cliente</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="inputCliente">Nome Cliente</label>
              <input type="text" class="form-control" id="inputCliente" placeholder="Nome">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="inputCpfCnpj">CPF/CNPJ</label>
              <input type="text" class="form-control" id="inputCpfCnpj" placeholder="CPF/CNPJ">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="inputDataNascimento">Data Nascimento</label>
              <input type="date" class="form-control" id="inputDataNascimento" placeholder="Data Nascimento">
            </div>
          </div>            
          <div class="col-sm-3">
            <div class="form-group">
              <label for="inputTelCel">Tel/Cel</label>
              <input type="text" class="form-control" id="inputTelCel" placeholder="Tel/Cel">
            </div>
          </div>                       
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Estado</label>
              <select class="form-control">
                <option>SP</option>
                <option>RJ</option>
                <option>RS</option>
                <option>RN</option>
              </select>
            </div>
          </div>   
          <div class="col-sm-3">
            <div class="form-group">
              <label for="inputCidade">Cidade</label>
              <input type="text" class="form-control" id="inputCidade" placeholder="Cidade">
            </div>
          </div>  
          <div class="col-sm-3">
            <div class="form-group">
              <label>Contatado</label>
              <select class="form-control">
                <option>Sim</option>
                <option>Não</option>
              </select>
            </div>
          </div>                        
        </div>
        <div class="row"> 
          <div class="col-sm-3">
            <div class="form-group">
              <label>Situação</label>
              <select class="form-control">
                <option>Regular</option>
                <option>Irregualr</option>
              </select>
            </div>
          </div>              
          <div class="col-sm-3">
            <div class="form-group">
              <label for="inputDataConfirmacao">Data Confirmação</label>
              <input type="date" class="form-control" id="inputDataConfirmacao" placeholder="Data Nascimento">
            </div>
          </div>              
          <div class="col-sm-3">
            <div class="form-group">
              <label>Origem</label>
              <select class="form-control">
                <option>Em Negociação</option>
                <option>Finalizado</option>
              </select>
            </div>
          </div>                                
        </div>          
        <button type="submit" class="btn btn-primary">Incluir</button>
      </nb-card-body>
    </nb-card>    
  </div>
</div>

<div class="row">
    <nb-card class="col-md-6">
      <nb-card-header>Carteira do Cliente</nb-card-header>
      <nb-card-body>
        <table class="table">
          <thead>
            <tr>
              <th>Ativo</th>
              <th>Qtd.</th>
              <th>Preço Atual</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="ativo">
                <select class="form-control">
                  <option>PETR4</option>
                  <option>ABEV3</option>
                </select>
              </td>
              <td class="qtd">
                <input type="number" class="form-control">
              </td>
              <td>
                100
              </td>
              <td>250</td>
            </tr>
            <tr>
              <td class="ativo">
                <select class="form-control">
                  <option>BRSF3</option>
                  <option>ABEV3</option>
                </select>
              </td>
              <td class="qtd">
                  <input type="number" class="form-control">
              </td>
              <td>
                100
              </td>
              <td>250</td>
            </tr>
            <tr>
              <td class="ativo">
                <select class="form-control">
                  <option>BRSF3</option>
                  <option>ABEV3</option>
                </select>
              </td>
              <td class="qtd">
                  <input type="number" class="form-control">
              </td>
              <td>
                100
              </td>
              <td>250</td>
            </tr>
            <tr>
              <td>Total</td>
              <td></td>
              <td></td>
              <td>550</td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>

    <nb-card class="col-sm-6">
      <nb-card-header>Simulação</nb-card-header>
      <nb-card-body>
        <table class="table">
          <thead>
            <tr>
              <th>Ativo</th>
              <th>Qtd.</th>
              <th>Preço Atual</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="ativo">
                <select class="form-control">
                  <option>PETR4</option>
                  <option>ABEV3</option>
                </select>
              </td>
              <td class="qtd">
                <input type="number" class="form-control">
              </td>
              <td>
                100
              </td>
              <td>250</td>
            </tr>
            <tr>
              <td class="ativo">
                <select class="form-control">
                  <option>BRSF3</option>
                  <option>ABEV3</option>
                </select>
              </td>
              <td class="qtd">
                  <input type="number" class="form-control">
              </td>
              <td>
                100
              </td>
              <td>250</td>
            </tr>
            <tr>
              <td class="ativo">
                <select class="form-control">
                  <option>BRSF3</option>
                  <option>ABEV3</option>
                </select>
              </td>
              <td class="qtd">
                  <input type="number" class="form-control">
              </td>
              <td>
                100
              </td>
              <td>250</td>
            </tr>
            <tr>
              <td>Total</td>
              <td></td>
              <td></td>
              <td>550</td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
</div>

